// Here you can add other styles


@import "populix/pages/splash.scss";
@import "populix/pages/login.scss";






body{

	font-family: 'Roboto', sans-serif;
}


.app {
	background: '#fff';
}


.bg-white{
	background: '#fff';
}