// Here you can add other styles


@import "populix/pages/splash.scss";
@import "populix/pages/login.scss";
@import "populix/pages/home.scss";






body{
    background: '#fff';
	font-family: 'Roboto', sans-serif;
}


.bg-white{
	background: '#fff';
}